.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  background: #fff2e5;
  box-sizing: border-box;
  flex-grow: 1;
  min-height: 100vh;
  padding: 1em 0 200px;
  transition: transform 400ms;
}
@media (max-width: 1023px) {
  .mainnav--active .wrapper {
    transform: translateY(calc(100vh - 80px));
  }
}
@media (min-width: 1024px) {
  .wrapper {
    padding-top: 60px;
  }
}

.content {
  box-sizing: border-box;
  margin: auto;
  max-width: 1280px;
  padding: 0 16px;
}
@media (min-width: 736px) {
  .content {
    padding: 0 40px;
  }
}

@media (min-width: 1024px) {
  .logo {
    display: inline-block;
    transform: translateY(-15%);
  }
}

.logo img {
  height: 40px;
}
@media (min-width: 1024px) {
  .logo img {
    height: 60px;
  }
}

.header {
  background-color: #01343d;
  border-bottom: 4px solid #fd5f55;
  color: #bdffd9;
  text-transform: uppercase;
  z-index: 11;
}

.header__content {
  display: grid;
  grid-template-columns: 1fr auto;

  height: 76px;
  padding: 0 2em;
}

.logo {
  align-self: center;
}

@media (min-width: 1024px) {
  .header__content {
    height: 158px;
    padding: 0 2em;
  }
}

.header__bars {
  align-self: center;
  font-size: 18px;
}
@media (min-width: 1024px) {
  .header__bars {
    display: none;
  }
}

@media (max-width: 1023px) {
  .mainnav {
    display: none;
  }
}
@media (max-width: 1023px) {
  .mainnav--mobile {
    align-items: center;
    background: #052531;
    color: #bdffd9;
    display: flex;
    flex-direction: column;
    font: 700 13px/1 "Montserrat", sans-serif;
    height: calc(100vh - 80px);
    justify-content: center;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 80px;
    transform: translateY(calc(-100vh + 80px));
    transition-duration: 400ms;
    transition-property: opacity, transform;
    z-index: 10;
  }

  .mainnav--active .mainnav--mobile {
    opacity: 1;
    pointer-events: auto;
    transform: none;
  }

  .mainnav--mobile .mainnav-anchor {
    flex-grow: 0;
  }
}

@media (min-width: 1024px) {
  .mainnav--mobile {
    display: none;
  }
}

@media (min-width: 1024px) {
  .mainnav {
    align-items: center;
    display: flex;
    font: 700 13px/1 "Montserrat", sans-serif;
  }
}
.mainnav span {
  flex-grow: 1;
  position: relative;
}
.mainnav span:hover .mainnav__subnavigation {
  opacity: 1;
  pointer-events: auto;
  transform: none;
}
.mainnav__subnavigation {
  background: #01343d;
  color: white;
  font: 400 13px/2 "Montserrat", sans-serif;
  opacity: 0;
  padding: 9px 9px 1em;
  position: absolute;
  transform: scale(0.85);
  /*transition: opacity 400ms, transform 400ms;*/
  white-space: pre-line;
}
.mainnav__subnavigation a {
  color: inherit;
  display: block;
  text-decoration: none;
  white-space: nowrap;
}
.mainnav__subnavigation a:hover {
  color: white;
}
.mainnav-anchor {
  color: inherit;
  display: block;
  flex-grow: 1;
  padding: 9px;
  text-align: center;
  text-decoration: none;
  transition: color 800ms;
}

.mainnav-anchor:hover,
.mainnav span:hover .mainnav-anchor {
  color: white;
}

.footer {
  transition: transform 400ms;
}
@media (max-width: 1023px) {
  .mainnav--active .footer {
    transform: translateY(calc(100vh - 80px));
  }
}

.footer-social {
  background: #013c49;
  padding: 22px;
  text-align: center;
}

.footer-social-anchor {
  align-items: center;
  background: #fff2e5;
  border-radius: 50%;
  color: #013c49;
  display: inline-flex;
  height: 36px;
  justify-content: center;
  margin: 0 5px;
  text-decoration: none;
  width: 36px;
}
.footer-social-anchor:hover {
  background: white;
}

.footer-social-anchor span {
  display: none;
}

.footer-bottom {
  background: #fd5f55;
  color: #052531;
}

.footer-bottom__content {
  padding: 3em 1em;
}

@media (min-width: 1024px) {
  .footer-bottom__content {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 36px 96px;
  }
}

.footer-bottom .yellow-on-blue {
  margin-top: 2em;
}

.subscribe-form {
  font: normal 15px/1.733 Montserrat;
  margin: 3em 0;
  text-transform: uppercase;
}

@media (min-width: 1024px) {
  .subscribe-form {
    flex-basis: 292px;

    padding: 0 96px;
  }
}

.subscribe-form__bottom {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.subscribe-form .subscribe-form__top {
  margin: 3px 0.5px;
}

.subscribe-form .button {
  border-color: #fff2e5;
  color: #fff2e5;
}

input::placeholder {
  text-transform: uppercase;
}

.privacy-policy-link {
  color: inherit;
  display: inline-block;
  font: 100 smaller/1 "Montserrat", sans-serif;
  margin-top: 1em;
  text-decoration: none;
  text-transform: uppercase;
}
