@media (min-width: 768px) {
  .faq-page h1 {
    font-size: 48px;
  }
}
.faq-page__contents {
  font: italic normal 18px/1.95 'Crimson Text';
  list-style: none;
  margin: 1em 0;
  padding-left: 0;
}

.faq-page__contents li {
  /*margin: 1em 0;*/
}

.faq-page__contents a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

.faq-page__contents a:hover {
  color: #FC5F55;
}

.faq-page__question-answers {
  margin: 1em 0;
  max-width: 688px;
}

.faq-page__question-answers dt {
    color: #FC5F55;
    font: 700 22px/1.2 Montserrat;
    padding-top: 2em;
  }
.faq-page__question-answers dd {
    font: 16px/1.2 'Crimson Text';
    margin-left: 0;
    margin: 1em 0 2em;
  }


.icon-leftwards-arrow-with-loop {
  appearance: none;
  background: transparent;
  border: none;
  color: #FC5F55;
  cursor: pointer;
  font: inherit;
  padding: none;
  text-decoration: none;
  text-transform: lowercase;
}
.icon-leftwards-arrow-with-loop::before {
  content: 'Back to top';
}
.icon-leftwards-arrow-with-loop::after {
  content: "\2197";
  margin-left: 0.25em;
  /*transform: rotate(90deg);*/
  display: inline-block;
}
.icon-leftwards-arrow-with-loop:focus {
  outline: none;
}