:root {
  font-family: 'Crimson Text', serif;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  color: #01343D;
  text-transform: uppercase;
  font: 700 2em/1 Montserrat,  sans-serif;
  margin: 0.67em 0 1rem;
}
@media (min-width:1024px) {
  h1 {
    font: 700 48px/1 Montserrat,  sans-serif;  
  }
}


h2 {
  color: #01343D;
  text-transform: uppercase;
  font: 700 1.17em/1 Montserrat,  sans-serif;
}
@media (min-width:1024px) {
  h2 {
    font: 700 36px/1 Montserrat,  sans-serif
  }
}

h3 {
  color: #FC5F55;
  font: italic 400 24px/1 'Crimson Text', serif;
}

h1 + h3 {
  margin: 0 0 2em;
}