.section {

}

.section__heading {
  margin: 0.83em 0;  
}

.section__content {
  font: 14px/22px Montserrat;
  /*font-size: 17px;*/
  max-width: 688px;
}

.section__content h3 {
  font: bold 22px/24px Montserrat;
  margin: 1em 0 0;
}
.section__content h3 + p {
  margin-top: 0;
}

.section__content ul {
  font: 400 16px/2 Montserrat;
  list-style-type: none;
  padding-left: 0;
}
@media (min-width: 768px) { .section__content ul {
  font-size: 18px;
}}

